*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Giloruy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(182, 213, 182);
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 90%;
    background-color: rgb(116, 178, 146);
    border-radius: 1rem;
}
#ptop{
    padding-left: 32%;
    padding-right: 32%;
    align-items: center;
    display: flex;
    justify-content:space-between ;
    width: 100%;
    height: 100px;
    background-color: rgb(21, 127, 85);
    color: white;
}
.lem{

  display: flex;
  align-items: center;
  gap: 20px;
}
.lem h4{
    font-size: 20px;
}
.box{
color: rgb(54, 146, 114);
font-weight: 700;
font-size: 25px;
padding: 15px;
background-color: white;
border-radius: 5px;

}
#pbtm{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: calc(100%-100px);
    padding: 20px;

}
.startGame{
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
}
#startbtm{
    background-color: rgb(55, 62, 59);
    cursor: pointer;
    color: red;
    font-size: 20px;
    border: 0px;
    height: 45px;
    width: 60px;
    margin-bottom: 0%;
    border-radius: 1rem;
}
#startbtm:hover{
    background-color: rgb(83, 165, 83);
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color:  rgb(21, 127, 85);
    border-radius: 5rem;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;

}
.bubble:hover{
    background-color:  rgb(20, 99, 67);
    width: 62px;
    height: 62px;
}